<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GitMaker</title>
	
	<style>
		body{
			background-color: white;
		}
	</style>
</head>
<body>

	<form>
		Login:<input type="text" name="loginField"><br>
		Password:<input type="password" name="passwordField"><br>
		<button name="loginButton">Login</button><br>
		<button name="registerButton">Register</button>
	</form>
</body>
</html>