<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>LiterallyChat - Login</title>
	
	<style>
		button {
			background-color: #4CAF50;
		}
	</style>
</head>
<body>
	<button>Przycisk</button>
</body>
</html>