<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GitMaker - Registration</title>
	
	<style>
		button {
			background-color: #4CAF50;
		}
	</style>
</head>
<body>
	<form action="/register" method="POST">
		<label> Nickname: </label><br>
		<input type="text" name="nicknameField"/><br>
		<label> Email: </label><br>
		<input type="text" name="emailField"/><br>
		<label> Repeat Email: </label><br>
		<input type="text" name="RepeatedEmailField"/><br>
		<label> Password: </label><br>
		<input type="password" name="passField"/><br>
		<label> Repeat Password: </label><br>
		<input type="password" name="repeatedPassField"/><br>
		
		<button> Register </button>
	</form>
</body>
</html>